body {
    font-family: Arial;
    background: #f7f7f7;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.input-area {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background: deepblue;
    color: white;
    border: none;
    border-radius: 4px;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    padding: 10px;
    background: #e9e9e9;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
    color: grey;
}