/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
}

/* Center */
.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Weather Box */
.weather-box {
  background: #fff;
  width: 400px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Inputs & button */
.weather-box input {
  width: 85%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}

.weather-box button {
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background-color: #61dafb;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.weather-box button:hover {
  background-color: #21a1f1;
}

/* Loading */
.loading {
  color: #0077cc;
  font-weight: bold;
  margin-top: 10px;
}

/* Weather results */
.results img {
  margin: 10px 0;
  height: 60px;
}

.results h3 {
  margin-bottom: 5px;
  color: #333;
}

.results p {
  margin: 3px 0;
}

/* Forecast */
.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.day-card {
  background: #f0f8ff;
  border-radius: 12px;
  padding: 10px;
  width: 60px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.day-card img {
  height: 40px;
}

