/* Remove all default margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fullscreen */
html, body, #root {
  height: 100%;
  width: 100%;
  background: #e5e5e5;
}

/* Center everything */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

