* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#search-query {
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid darkcyan;
  border-radius: 10px;
  color: darkcyan;
}

#submit {
  height: 2.5rem;
  font-size: 1.5rem;
  padding: 5px;
  border: 2px solid darkcyan;
  background-color: beige;
  color: darkcyan;
}

.article-item {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.article-item h5 {
  font-size: 1.2rem;
}

.article-item a {
  text-decoration: none;
  color: darkcyan;
}

.article-item p {
  text-align: justify;
  margin: 10px 0 10px 0; /* top right bottom left*/
}

.article-item:nth-child(even) {
  background-color: beige;
}

#display-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
